<header>
    <div>
        <div id="header-div-id">Header Div Here
        <% if(loggedInUser) { %>
        <div>Logged In As: <%=loggedInUser%></div>
        <button id="logout-button-id">Logout</button>
        <% } else { %>
        <div>You need to either register or login.</div>
        <% } %>
        </div>
    </div>
</header>