<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<script data-main="app/js/main" src="static/js/vendor/require.js"></script>-->
    <script src="/js/vendor/require.js"></script>
    <script src="/js/optimized.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
