<% if(env == 'development') {%> <!-- development-->

<script data-main="/static/app/js/main" src="/static/vendor/require.js"></script>

<% } else { %> <!-- test && production-->

<!--<script src="/static/vendor/require.js"></script>-->
<script src="/static/app/optimized/optimized.js"></script>

<% } %>






<div id="index_header_div_id" class="header navbar-fixed-top"></div>


<main>
    <div name="main-div" id="main-div-id"></div>
</main>


<div id="index_footer_div_id" class="footer navbar-fixed-bottom"></div>
