<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
      <!--<script src="/static/vendor/require.js"></script>-->
      <!--<script src="/static/app/js/optimized.js"></script>-->
      <script data-main="/static/app/js/main" src="/static/vendor/require.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%-body%>
  </body>
</html>
