<header>
    <% include ./partials/header %>
</header>

<main>
    <h1><%=title%></h1>
    <p>Welcome to <%=title%></p>

    <div name="main-div" id="main-div-id"></div>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>