<!DOCTYPE html>
<html>
<head>


     <!--stylesheets-->
    <link rel='stylesheet' href='/static/stylesheets/style.css'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link href="/static/cssx/bootstrap/bootstrap-notify.css" rel="stylesheet">

    <!-- for simple sidebar -->
    <!--<link rel="stylesheet" type="text/css" href="/static/cssx/portal/simple-sidebar.css" media="screen" />-->
    <!--<link rel="stylesheet" type="text/css" href="/static/cssx/userProfileView/user-profile.css" media="screen" />-->

    <!-- old -->
    <!--<link type="text/css" rel="stylesheet" href="bower_components/backbone-modal/backbone.modal.css">-->
    <!--<link type="text/css" rel="stylesheet" href="bower_components/backbone-modal/backbone.modal.theme.css">-->

    <special id="perm_css">


    </special>

    <special id="perm_css">


    </special>

</head>




<body>
<div id="index_header_div_id" class="header navbar-fixed-top"></div>


<main>
    <div name="main-div" id="main-div-id"></div>
</main>


<div id="index_footer_div_id" class="footer navbar-fixed-bottom"></div>


<!-- ///////////////  here we run the front-end application /////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////////////-->
<% if(env === 'development') {%> <!-- DEVELOPMENT-->
<script data-main="/static/app/js/main" src="/static/vendor/require.js"></script>
<% } else { %> <!-- TEST and PRODUCTION-->
<script src="/static/app/optimized/optimized.js"></script>
<% } %>
<!-- ////////////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////////////-->



</body>
</html>
