<!DOCTYPE html>
<html>
<head>

    <!--&lt;!&ndash; production&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="/static/vendor/require.js"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="/static/app/js/optimized_templates.js"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="/static/app/js/optimized.js"></script>&ndash;&gt;-->

    <!--&lt;!&ndash; development&ndash;&gt;-->
    <!--<script data-main="/static/app/js/main" src="/static/vendor/require.js"></script>-->


    <!--&lt;!&ndash; stylesheets&ndash;&gt;-->
    <!--<link rel='stylesheet' href='/static/stylesheets/style.css'/>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">-->

    <!--&lt;!&ndash;<link type="text/css" rel="stylesheet" href="bower_components/backbone-modal/backbone.modal.css">&ndash;&gt;-->
    <!--&lt;!&ndash;<link type="text/css" rel="stylesheet" href="bower_components/backbone-modal/backbone.modal.theme.css">&ndash;&gt;-->

    <!--<link href="/static/css/bootstrap/bootstrap-notify.css" rel="stylesheet">-->

    <!--&lt;!&ndash; for simple sidebar &ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="/static/css/portal/simple-sidebar.css" media="screen" />-->
    <!--<link rel="stylesheet" type="text/css" href="/static/css/userProfileView/user-profile.css" media="screen" />-->


</head>
<body class="loading">
<%- body %>
</body>

<!-- production-->
<!--<script src="/static/vendor/require.js"></script>-->
<!--<script src="/static/app/js/optimized_templates.js"></script>-->
<!--<script src="/static/app/js/optimized.js"></script>-->

<!-- development-->
<script data-main="/static/app/js/main" src="/static/vendor/require.js"></script>


<!-- stylesheets-->
<link rel='stylesheet' href='/static/stylesheets/style.css'/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!--<link type="text/css" rel="stylesheet" href="bower_components/backbone-modal/backbone.modal.css">-->
<!--<link type="text/css" rel="stylesheet" href="bower_components/backbone-modal/backbone.modal.theme.css">-->

<link href="/static/css/bootstrap/bootstrap-notify.css" rel="stylesheet">

<!-- for simple sidebar -->
<link rel="stylesheet" type="text/css" href="/static/css/portal/simple-sidebar.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/userProfileView/user-profile.css" media="screen" />
</html>
