<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <script src="/js/vendor/require.js"></script>
      <script src="/js/optimized.js"></script>
      <!--<script data-main="app/js/main" src="/js/require.js"></script>-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
