<!DOCTYPE html>
<html>
<head>

    <!-- production-->

    <!--<script src="/static/vendor/require.js"></script>-->
    <!--<script src="/static/app/js/optimized_templates.js"></script>-->
    <!--<script src="/static/app/js/optimized.js"></script>-->

    <!-- development-->
<<<<<<< HEAD
    <!--<script data-main="/static/app/js/main" src="/static/vendor/require.js"></script>-->

    <!--angular-->
    <script src="/static/vendor/angular.js"></script>

=======
    <script data-main="/static/app/js/main" src="/static/vendor/require.js"></script>
>>>>>>> 5426a9d03ea715557307956ac1d25f0307202d8a


    <!-- stylesheets-->
    <link rel='stylesheet' href='/static/stylesheets/style.css'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!--<link type="text/css" rel="stylesheet" href="bower_components/backbone-modal/backbone.modal.css">-->
    <!--<link type="text/css" rel="stylesheet" href="bower_components/backbone-modal/backbone.modal.theme.css">-->

    <link href="/static/css/bootstrap/bootstrap-notify.css" rel="stylesheet">



</head>
<body class="loading">
<%- body %>
</body>
</html>
