<header>
    <div>
        <div id="header-div-id" class="page-header">
            <div class="col-md-2">
            <% if(appState.get('currentUser') !== null) { %>
            <div>Logged In As: <%= appState.get('currentUser').get('firstName') + " " + appState.get('currentUser').get('lastName') %>(<%= appState.get('currentUser').get('username')%>)</div>
            <button id="logout-button-id">Logout</button>
            <% if(viewState.get('mainParentView') !== null && viewState.get('mainParentView').givenName === '@PortalView') {%>
                <div>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    <script>
                        $("#menu-toggle").click(function(e) {
                            e.preventDefault();
                            $("#wrapper").toggleClass("toggled");
                        });
                    </script>
                </div>
                <% } %>
            <% } else { %>
            <div>You need to either register or login.</div>
            <% } %>
            </div>
            <div class="col-md-2">
                <p><font color="red"> Socket connection: <span adhesive-value="socket:connected" ><%= socketConnection %></span></font></p>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" id="reset-all-button-id">Reset-All</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" id="reset-front-end-button-id">Reset-Front-End</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" id="reset-back-end-button-id">Reset-Backend</button>
            </div>
        </div>
    </div>
</header>