<div class="container">
    <div>
        <div id="react-timer-example-div-id">timer example goes here</div>
        <div id="react-menu-example-div-id">menu example goes here</div>
        <div id="react-flux-cart-example-div-id">fluxcart example goes here</div>
    </div>
</div>