<div>
    <div id="react-timer-example-div-id">timer example goes here</div>
    <div id="react-menu-example-div-id">menu example goes here</div>

    <section id="auction">
        <h3>{*{ auction.product.name }*}</h3>

        <p>Current bid: {*{ auction.currentBid | money }*}</p>

        <aside rv-if="auction.timeLeft | lt 120">
            Hurry up! There is {*{ auction.timeLeft | time }*} left.
        </aside>
    </section>

</div>