<div>
    <div id="jobs-react-example-div-id">react example goes here</div>
    <div id="jobs-adhesive-example-div-id">adhesive example goes here

        <fieldset>
            <legend>What is Your Favorite Pet?</legend>
            <input class="barf" type="checkbox" name="animal" value="Cat"
                   adhesive-value-checkbox="job:animals:cats" adhesive-get-checkbox="job:animals:cats" adhesive-cid="<%= job.cid %>">Cats
            <input class="barf" type="checkbox" name="animal" value="Dog"
                   adhesive-value-checkbox="job:animals:dogs" adhesive-get-checkbox="job:animals:dogs" adhesive-cid="<%= job.cid %>">Dogs
            <input class="barf" type="checkbox" name="animal" value="Bird"
                   adhesive-value-checkbox="job:animals:birds" adhesive-get-checkbox="job:animals:birds" adhesive-cid="<%= job.cid %>">Birds
        </fieldset>

    </div>
</div>