<div class="row">
    <div class="span4">top</div>
    <div class="span3 offset4">
        <div>
            <div id="real-time-search-example-div-id">real-time search example goes here</div>
        </div>
    </div>
    <div class="span4">bottom</div>
</div>