<div class="container">
    <div class="row">
        <div class="span4">top</div>
        <div class="span3 offset4">
            <div>
                <div id="picture-list-example-div-id">picture list example goes here</div>
            </div>
        </div>
        <div class="span4">bottom</div>
    </div>
</div>