<div>
    <table>
        <thead>
        <th>Registered users:</th>
        </thead>
        <tbody>
        <% for(var i=0; i<users.length; i++) { %>
        <tr>
            <td adhesive-value="user:firstName" adhesive-cid="<%= users[i].cid %>"><%=users[i].get('firstName')%></td>
            <td adhesive-value="user:lastName" adhesive-cid="<%= users[i].cid %>"><%=users[i].get('lastName')%></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>