<div>
    <div>aageagoeagoagegeega
    </div>
<form role="form">

    <div class="form-group input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="Username">
    </div>

    <div class="form-group input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">.00</span>
    </div>

    <div class="form-group input-group">
        <span class="input-group-addon"><i class="fa fa-eur"></i></span>
        <input type="text" class="form-control" placeholder="Font Awesome Icon">
    </div>

    <div class="form-group input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control">
        <span class="input-group-addon">.00</span>
    </div>

    <div class="form-group input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
    </div>

</form>
</div>