<footer class="footer">
    <div class="container">
        <p class="text-muted">year 2015 and beyond</p>
        <button id="footer-button-id">Button Here (Click Me)</button>
        <div id="footer-div-id">Footer Div Here</div>
    </div>
</footer>
